<app-header></app-header>
<div class="container">
  <div class="wrapper">
    <div class="content">
      <div class="headings">
        <h1 class="m-0">
          Let's start with creating a
          <span class="accent">Traveler account</span>.
        </h1>
        <h4 class="m-1 subheading">
          We only require basic information about you, this motivates us seeing
          how many people are using our services, which are and will be
          <span class="accent"> free of cost forever</span>.
        </h4>
      </div>
      <form action="">
        <div class="form-control">
          <label for="">Full Name *</label>
          <input required type="text" placeholder="E.g. John Doe" />
        </div>
        <div class="form-control">
          <label for="">Email Address *</label>
          <input required type="email" placeholder="E.g. example@website.com" />
        </div>
        <div class="form-control">
          <label for="">Password *</label>
          <input required type="password" placeholder="E.g. ***************" />
        </div>
        <div class="form-control">
          <label for=""
            >Already have an account? <a>Click here to Sign in.</a></label
          >
          <button class="btn">Sign me up!</button>
        </div>
      </form>
    </div>
  </div>
</div>
