<app-header></app-header>
<div class="container">
  <div class="wrapper">
    <div class="content">
      <div class="headings">
        <h1 class="m-0">
          Let's start with creating a
          <span class="accent">Traveler account</span>.
        </h1>
        <h4 class="m-1 subheading">
          We only require basic information about you, this motivates us seeing
          how many people are using our services, which are and will be
          <span class="accent"> free of cost forever</span>.
        </h4>
      </div>
      <h3 *ngIf="error" class="text-danger">{{ error }}</h3>
      <form *ngIf="!data" [formGroup]="signUp" (ngSubmit)="handleSubmit()">
        <div class="form-control">
          <label for="">Full Name *</label>
          <input
            [ngClass]="{
              invalid: isFullNameInvalid()
            }"
            formControlName="fullName"
            type="text"
            placeholder="E.g. John Doe"
          />
          <span *ngIf="isFullNameInvalid()" class="text-danger"
            >Full Name is required</span
          >
        </div>
        <div class="form-control">
          <label for="">Email Address *</label>
          <input
            [ngClass]="{ invalid: isEmailInvalid() }"
            formControlName="email"
            required
            type="email"
            placeholder="E.g. example@website.com"
          />
          <span *ngIf="isEmailInvalid()" class="text-danger"
            >Email is required</span
          >
        </div>
        <div class="form-control">
          <label for="">Password *</label>
          <input
            [ngClass]="{ invalid: isPasswordInvalid() }"
            formControlName="password"
            required
            type="password"
            placeholder="E.g. ***************"
          />
          <span *ngIf="isPasswordInvalid()" class="text-danger"
            >Password is required</span
          >
        </div>
        <div class="form-control">
          <label for="" class="m-1"
            >Already have an account?
            <a routerLink="/signin">Click here to Sign in.</a></label
          >
          <button
            [disabled]="!isValid() || submitting"
            class="btn"
            type="submit"
          >
            <img class="spinner" *ngIf="submitting" src="assets/loading.svg" />
            Sign me up!
          </button>
        </div>
      </form>
      <h3 *ngIf="data">
        All done, <a routerLink="/signin">Click here to login</a>
      </h3>
    </div>
  </div>
</div>
