@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

:root {
  // colors
  --accent: #fd79a8;
  $accent: var(--accent);
  --link: #007bff;
  --accent-dark: #c5597f;

  // breakpoints
  --xs: 0;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
}

* {
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-root {
  overflow: auto;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
app-signin {
  overflow: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 36px;
  font-weight: 800;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 600;
}
h4 {
  font-size: 16px;
  font-weight: 500;
}
h5 {
  font-size: 14px;
  font-weight: 400;
}

.wrapper {
  max-width: 1400px;
  padding: 0 12px;
  margin: auto;
}
.accent {
  color: var(--accent);
}
.m {
  &-0 {
    margin: 0;
  }

  &-1 {
    margin: 4px;
  }
}
.btn {
  border: unset;
  color: white;
  font-weight: 700;
  background-color: var(--accent);
  padding: 10px 50px;
  &:hover {
    background: var(--accent-dark);
    cursor: pointer;
  }
}

a {
  font-size: 14px;
  text-decoration: unset;
  color: var(--link);

  &:hover {
    text-decoration: underline;
  }
}

.no-underline {
  text-decoration: none !important;
}

form {
  min-width: min(100%, 450px);
  label,
  label * {
    font-size: 12px;
    text-align: left;
  }

  input {
    padding: 15px 10px;
    background-color: #f5f5f5;
    border: unset;
    ::placeholder {
      color: #6c757d;
    }
  }

  .form-control {
    margin: 16px 0;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}
