@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

:root {
  // colors
  --accent: #fd79a8;
  --link: #007bff;
  --accent-dark: #c5597f;
  --danger: #dc3545;

  --disabled-bg: #ccc;
  --disabled-text: #888;
  --secondary-text: #8a8a8a;

  // breakpoints
  --xs: 0;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
}

* {
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.text- {
  &secondary {
    color: var(--secondary-text);
  }
}

app-root {
  overflow: auto;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
app-home {
  flex: 1;
  display: flex;
  flex-direction: column;
}
app-signin {
  overflow: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}
app-signup {
  overflow: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

app-flight-plan {
  overflow: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 36px;
  font-weight: 800;
  @media (max-width: 500px) {
    font-size: 20px;
  }
}
h2 {
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 600;
}
h4 {
  font-size: 16px;
  font-weight: 500;
}
h5 {
  font-size: 14px;
  font-weight: 400;
}

.wrapper {
  max-width: 1400px;
  padding: 0 12px;
  margin: auto;
}
.accent {
  color: var(--accent);
}
.m {
  &-0 {
    margin: 0;
  }

  &-1 {
    margin: 4px;
  }
  &b {
    &-0 {
      margin-bottom: 0;
    }
  }
  &t {
    &-0 {
      margin-top: 0;
    }
    &-2 {
      margin-top: 8px;
    }
  }
}
.btn {
  border: unset;
  color: white;
  font-weight: 700;
  background-color: var(--accent);
  padding: 10px 50px;

  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;

  &:hover {
    background: var(--accent-dark);
    cursor: pointer;
  }
  &:disabled {
    background: var(--disabled-bg);
    color: var(--disabled-text);
    cursor: not-allowed;
  }
}
.text-danger {
  color: var(--danger);
}

a {
  font-size: 14px;
  text-decoration: unset;
  color: var(--link);

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.no-underline {
  text-decoration: none !important;
}

form {
  min-width: min(100%, 450px);
  .text-danger {
    text-align: left;
    font-size: 11px;
  }
  label,
  label * {
    font-size: 12px;
    text-align: left;
  }

  input {
    padding: 13px 8px;
    background-color: #f5f5f5;
    border: 1px solid transparent;
    ::placeholder {
      color: #6c757d;
    }
    &.invalid {
      border: 1px solid red;
    }
  }

  .form-control {
    margin: 16px 0;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}

.spinner {
  width: 12px;
  animation: rotation 1s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.icon {
  width: 12px;
}

.logo {
  height: 30px;
}

.heading {
  display: flex;
  flex-direction: column;
  & * {
    margin: 0;
  }
  gap: 12px;
  margin-top: 48px;
  margin-bottom: 12px;
}

.text-loading {
  display: flex;
  gap: 12px;
}
