<header>
  <div class="wrapper">
    <a class="site-info no-underline" routerLink="/">
      <h1 class="site-title">
        <img src="assets/logo.svg" class="logo" />
        <span>Plan</span>
        <span>early</span>
      </h1>
      <h4 class="tagline">Inexpensive Flight Plans.</h4>
    </a>
    <nav [ngClass]="{ hidden: !displayNav }">
      <a
        *ngIf="!isLoggedIn() || (decodedToken && decodedToken.isAdmin)"
        routerLink="/dashboard"
        >Dashboard</a
      >
      <a *ngIf="!isLoggedIn()" routerLink="/signin">Sign in as Traveler</a>
      <a *ngIf="!isLoggedIn()" routerLink="/signup" class="btn no-underline"
        >Try for free</a
      >
      <a *ngIf="isLoggedIn()" (click)="logout()" class="no-underline">
        Sign out
      </a>
      <a
        *ngIf="isLoggedIn()"
        routerLink="/flight-plan"
        class="btn no-underline"
      >
        <img src="assets/flight.svg" class="icon" />
        Flight Plans
      </a>
    </nav>
    <img (click)="toggleNav()" src="assets/burger.svg" class="burger" />
  </div>
</header>
