.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: #fd79a822;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 44px;
    padding-top: 44px;
  }
}

.about {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
