<div class="container">
  <div class="hero">
    <app-header></app-header>
    <div class="content wrapper">
      <h1 class="m-1">
        My <span class="accent">flight planner</span> and
        <span class="accent">me</span>.
      </h1>
      <h4>Find the lighest flight plan for your budget.</h4>
      <a class="btn no-underline" routerLink="/signup"
        ><h3 class="m-1">Let's Get Started</h3></a
      >
    </div>
  </div>
  <div class="about">
    <div class="content wrapper">
      <h4 class="m-0">Who are we, and what do we do?</h4>
      <h1 class="m-1">
        Simply put, we generate <span class="accent">cheapest</span> flight
        plans.
      </h1>
      <p>
        We look through our database and find the cheapest flight plans, they
        are updated regularly as our database is updated.
      </p>
    </div>
  </div>
</div>
